<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>머신에 있는 여섯 군데의 부착 지점에 붙일 최종 조합물을 적어도 하나씩 만들어 내는 것이 목표입니다.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>한 루프를 다른 루프에 넣어 루프를 [내포](glossary://nest)할 수 있습니다. 루프를 내포하여 짧은 시간에 여러가지 조합을 시도해 보세요!
- callout(예제):
    ```
    let items = [Item.stone, Item.cloth, Item.metal, Item.dirt, Item.DNA]
    let colors = [Light.red, Light.green, Light.blue]

    for item in items {
        for color in colors {
            setItemA(.DNA)
            setItemB(item)
            switchLightOn(color)
            forgeItems()
        }
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
