<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>机器每次运转时，都会生产出三个物品，每个物品对应 `colors` [数组](glossary://array)（颜色）中的一种颜色。

对于数组中的每种颜色，机器都会放入相同的两个物品，并点亮对应颜色的灯。通过这种方式，循环在每种颜色的灯中合成相同的两个物品！</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>你的目标是在每种颜色的灯中合成 seed（种子）与 dirt（泥土），为机器生产出点新东西。

- callout(示例):
    ```
    for color in colors {
        setItemA(.seed)
        setItemB(.dirt)
        switchLightOn(color)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
