<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Cada vez que la máquina se pone en marcha, produce tres elementos, uno por cada color que hay en el [arreglo](glossary://array) `colors`.

Para cada color del arreglo, la máquina pone los mismos dos elementos y cambia el color de la luz. De esta forma, el ciclo combina los mismos dos elementos usando todos los colores.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tu objetivo es combinar una semilla con tierra usando cada color de luz para crear algo nuevo para la máquina.

- callout(Ejemplo):
    ```
    for color in colors {
        setItemA(.seed)
        setItemB(.dirt)
        switchLightOn(color)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
