<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Sempre que a máquina é ativada, ela produz três itens, um para cada cor no [vetor](glossary://array) `colors`.

Para cada cor no vetor, a máquina insere os dois mesmos itens e acende a luz daquela cor. Dessa maneira, o loop combina os dois mesmos itens usando luzes de todas as cores!</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Seu objetivo é combinar uma semente (seed) e terra (dirt) em luzes de todas as cores para produzir algo novo para a máquina.

- callout(Exemplo):
    ```
    for color in colors {
        setItemA(.seed)
        setItemB(.dirt)
        switchLightOn(color)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
