<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>Appleが開発したプログラミング言語。iPhone、iPad、Mac、Apple Watch、Apple TV向けのAppやアプリケーションを作るために使われます。</string>
				<key>Title</key>
				<string>Swift</string>
			</dict>
		</dict>
		<key>argument</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを調べる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の動作を変えるために関数に[指定](glossary://pass)する値。</string>
				<key>Title</key>
				<string>引数</string>
			</dict>
		</dict>
		<key>array</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ループを使う</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>同じ型の値を順番に並べて保管するための入れ物。 
- callout(例):
    `let items = [Item.cloth, Item.stone, Item.DNA]`</string>
				<key>Title</key>
				<string>配列</string>
			</dict>
		</dict>
		<key>bug</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションが正しく動かない原因となるコードのミス。
</string>
				<key>Title</key>
				<string>バグ</string>
			</dict>
		</dict>
		<key>call</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>プログラムに関数の実行を命令すること。</string>
				<key>Title</key>
				<string>呼び出し</string>
			</dict>
		</dict>
		<key>coding</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コマンド、コード構造、アルゴリズムを組み立ててコンピュータアプリケーションを作ること。
</string>
				<key>Title</key>
				<string>コーディング</string>
			</dict>
		</dict>
		<key>command</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションに特定の操作を実行することを命令するためのコード。
</string>
				<key>Title</key>
				<string>コマンド</string>
			</dict>
		</dict>
		<key>debug</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>アプリケーションが正しく動かない原因となるコードのミスを見つけて直すこと。</string>
				<key>Title</key>
				<string>デバッグ</string>
			</dict>
		</dict>
		<key>final product</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを調べる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>[合成](glossary://forge)処理で作成される、装備可能なアイテム。最終生成物をマシンに渡しても、ほかのアイテムを作成できません。</string>
				<key>Title</key>
				<string>最終生成物</string>
			</dict>
		</dict>
		<key>for loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ループを使う</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の回数だけ実行されるコードブロック。
- callout(例):
    ```
    let items = [Item.cloth, Item.stone, Item.dirt]
    
    for item in items {
        setItemA(.stone)
        setItemB(item)
        forgeItems()
    }
    ```
                </string>
				<key>Title</key>
				<string>forループ</string>
			</dict>
		</dict>
		<key>forge</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを調べる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>マシンを使って2つのアイテムを合体させること。
- callout(例):
    ```
    setItemA(.metal)
    setItemB(.cloth)
    forgeItems()
    ```</string>
				<key>Title</key>
				<string>合成する</string>
			</dict>
		</dict>
		<key>function</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを調べる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>必要なときにすばやく実行できるように、一連のコマンドに名前を付けたもの。</string>
				<key>Title</key>
				<string>関数</string>
			</dict>
		</dict>
		<key>item list</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>一次アイテム: Metal（金属）、Stone（石）、Cloth（布）、Dirt（土）、DNA
                    
二次アイテム: Spring（ばね）、Wire（ワイヤ）、Egg（卵）、Tree（木）、Seed（種）、Crystal（クリスタル）、Mushroom（キノコ）、Unidentified life form（未確認生命体）</string>
				<key>Title</key>
				<string>アイテムリスト</string>
			</dict>
		</dict>
		<key>iteration</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の処理を繰り返すこと。たとえば、配列内の各項目に同じ操作をするなどです。</string>
				<key>Title</key>
				<string>反復処理</string>
			</dict>
		</dict>
		<key>light colors</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ライトの色: red（赤）、green（緑）、blue（青）</string>
				<key>Title</key>
				<string>ライトの色</string>
			</dict>
		</dict>
		<key>loop</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/04.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ループを使う</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>特定の回数だけ繰り返し実行されるコードブロック。</string>
				<key>Title</key>
				<string>ループ</string>
			</dict>
		</dict>
		<key>nest</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/06.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを完成させる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>ループ（繰り返し実行されるコードブロック）の中に別のループを入れること。</string>
				<key>Title</key>
				<string>ネスト</string>
			</dict>
		</dict>
		<key>parameter</key>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>関数の定義で使われる、関数に指定する入力値の名前。たとえば、`move(distance: Int)`では、`distance`（距離）が、Int型の値を受け取るパラメータになります。</string>
				<key>Title</key>
				<string>パラメータ</string>
			</dict>
		</dict>
		<key>pass</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>マシンを調べる</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>値を関数への[引数](glossary://argument)として渡すこと。</string>
				<key>Title</key>
				<string>指定</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
