<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Hedefin, altı bağlantı noktasının her biri için en az bir son ürün yaratarak makineyi tamamlamak.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Birini diğerinin içine koyarak döngüleri [iç içe yerleştirebilirsin](glossary://nest). Döngüleri iç içe yerleştirmek birçok birleşimi hızlıca denemeni sağlar!
- callout(Örnek):
    ```
    let items = [Item.stone, Item.cloth, Item.metal, Item.dirt, Item.DNA]
    let colors = [Light.red, Light.green, Light.blue]

    for item in items {
        for color in colors {
            setItemA(.DNA)
            setItemB(item)
            switchLightOn(color)
            forgeItems()
        }
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
