<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Ditt mål är att slutföra maskinen genom att skapa minst en slutprodukt för var och en av dess sex fästpunkter.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du kan [nästla](glossary://nest) loopar genom att placera en loop inuti en annan. När du nästlar loopar kan du snabbt prova många kombinationer!
- callout(Exempel):
    ```
    let items = [Item.stone, Item.cloth, Item.metal, Item.dirt, Item.DNA]
    let colors = [Light.red, Light.green, Light.blue]

    for item in items {
        for color in colors {
            setItemA(.DNA)
            setItemB(item)
            switchLightOn(color)
            forgeItems()
        }
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
