<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tu as pour objectif de remplir la machine en créant au moins un produit final pour chacun des emplacements.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tu peux [imbriquer](glossary://nest) des boucles en en mettant une à l’intérieur de l’autre. Ainsi, tu peux rapidement tester de nombreuses combinaisons !
- callout(Exemple):
    ```
    let items = [Item.stone, Item.cloth, Item.metal, Item.dirt, Item.DNA]
    let colors = [Light.red, Light.green, Light.blue]

    for item in items {
        for color in colors {
            setItemA(.DNA)
            setItemB(item)
            switchLightOn(color)
            forgeItems()
        }
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
