<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>機器每次運轉時，會產生三個項目，每一個都會有 `colors` [陣列](glossary://array)中指定的每種顏色。

針對陣列中的每種顏色，機器會將它放入相同的兩個項目，並且開啟該顏色的燈。這樣迴圈會使用每種顏色的燈來結合相同的兩個項目。</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>你的目標是在各種顏色的燈光中，將 seed（種子）和 dirt（泥土）結合在一起，為機器產生新的項目。

- callout(範例):
    ```
    for color in colors {
        setItemA(.seed)
        setItemB(.dirt)
        switchLightOn(color)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
