<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Enciende una luz usando `switchLightOn()` y [pasando](glossary://pass) `.red`, `.green` o `.blue`.
- callout(Ejemplo):
    `switchLightOn(.blue)`

**Consejo de experto**: Al encender una luz, se apagan todas las demás.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Pasa](glossary://pass) un cristal a `setItemA()` y combínalo con otro elemento para crear algo que te pueda servir.
- callout(Ejemplo):
    ```
    setItemA(.crystal)
    setItemB(.cloth)
    switchLightOn(.green)
    forgeItems()
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Combina cristal con algún otro elemento, pero intenta cambiar la luz a azul antes de forjar.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
