<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>使用 `switchLightOn()` 來開燈並[傳入](glossary://pass) `.red`、`.green` 或`.blue`。
- callout(範例):
    `switchLightOn(.blue)`

**專家提示**：打開一個燈會關閉其他所有的燈。</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>將一個 crystal（水晶）[傳入](glossary://pass) `setItemA()`，並且結合其他項目來製作一些有用的東西。
- callout(範例):
    ```
    setItemA(.crystal)
    setItemB(.cloth)
    switchLightOn(.green)
    forgeItems()
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>結合 crystal（水晶）和其他項目，但在融合前，試試把燈更改成藍色。</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
